*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  /* color: rgba(0, 0, 0, 0.87); */
  /* color: #161e24; */
  background-color: #081213;
  color: #fff;
}
h2,
h3 {
  font-weight: 500;
}
a {
  display: inline-block;
  text-decoration: none;
}

/* NAVIGATION*/

.navigation__hamburger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 5;
}

.navigation__hamburger-container {
  width: 3rem;
  height: 2.25rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 035s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.navigation__hamburger-line {
  display: block;
  position: absolute;
  height: 0.45rem;
  width: 100%;
  background-color: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navigation__hamburger-one {
  top: 0px;
}

.navigation__hamburger-two {
  top: 0.9rem;
}

.navigation__hamburger-three {
  top: 1.8rem;
}

.navigation__hamburger-container.active .navigation__hamburger-one {
  top: 0.9rem;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.navigation__hamburger-container.active .navigation__hamburger-two {
  opacity: 0;
  left: -60px;
}

.navigation__hamburger-container.active .navigation__hamburger-three {
  top: 0.9rem;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.navigation__container {
  background-color: #081213;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: 5;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 035s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navigation__container.active {
  width: 25rem;
}
.navigation__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  display: none;
}
.active + .navigation__overlay {
  display: block;
}
.navigation__logo {
  display: none;
}
.navigation__menu {
  margin-top: 3rem;
  list-style-type: none;
  width: 100%;
}
.navigation__menu-link {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  padding-left: 2.5rem;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  transform: translateX(-20rem);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navigation__menu-link:hover {
  background-color: #eee;
  color: #081213;
}
.navigation__menu-icon {
  font-size: 2rem;
  margin-right: 1.8rem;
}
.navigation__menu-link-text {
  margin-left: 0;
  font-size: 2rem;
}
@media only screen and (min-width: 992px) {
  .navigation__hamburger {
    display: none;
  }
  .navigation__container.active {
    width: unset;
  }
  .active + .navigation__overlay {
    display: none;
  }
  .navigation__container {
    -webkit-box-shadow: unset;
    box-shadow: unset;
    width: unset;
    /* left: 1rem;
    top: 50%;
    transform: translateY(-50%); */
    background: transparent;
    z-index: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #007d9e;
  }
  .navigation__menu {
    margin-top: 0;
  }
  .navigation__menu-link {
    /* background-color: #eee;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem 1.8rem;
    height: 5.6rem;
    width: 5.6rem;
    border-radius: 5.6rem;
    overflow: hidden; */
    padding: 2rem 2.5rem;
    transform: translateX(0);
    color: #fff;
  }
  .navigation__menu-icon {
    font-size: 3rem;
    margin-right: 0;
  }
  .navigation__menu-link-text {
    /* font-size: 1.6rem; */
    display: none;
  }
  .navigation__menu-link:hover {
    color: #007d9e;
    background-color: transparent;
    /* background-color: #007d9e; */
    /* width: 14rem; */
  }

  /* utility classes */
  .special-font {
    font-size: 3.3rem;
  }
}

/* END OF NAVIGATION */

/* HERO SECTION */

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 5rem auto 0;
  padding-bottom: 5rem;
}
.hero__image-svg {
  width: 100%;
  margin-bottom: 5rem;
}
.hero__text {
  text-align: center;
}
.heading-primary {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.heading-primary-sub {
  margin-bottom: 3rem;
}
.hero__text-description {
  color: #007d9e;
  letter-spacing: 2px;
}
@media only screen and (min-width: 786px) {
  .hero {
    margin-bottom: 5rem;
    padding-bottom: 0;
  }
  .heading-primary {
    font-size: 5rem;
  }
  .heading-primary-sub {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  #hero {
    padding-left: 8.5rem;
  }
  .hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 128.5rem;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url("../images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .hero__image {
    width: 100%;
    order: 2;
  }
  .hero__text {
    width: 55%;
    min-width: 54rem;
    order: 1;
    text-align: left;
    /* padding-right: 1rem; */
  }
  .heading-primary-sub {
    margin-bottom: 6rem;
    font-size: 2.4rem;
  }
  .heading-primary {
    text-align: left;
  }
}
/* END HERO SECTION */

/* ABOUT SECTION */
.about__container,
.portfolio__container,
.contact__container,
.skills__container,
.contact__info {
  width: 90%;
  margin: 0 auto;
  padding: 7rem 0;
}
.heading-secondary {
  text-align: left;
  position: relative;
  display: inline-block;
  font-weight: 500;
}
.heading-secondary::after {
  content: "";
  position: absolute;
  top: -0.7rem;
  left: 0;
  width: 4rem;
  height: 0.5rem;
  border-radius: 99rem;
  background-color: #007d9e;
  transition: width 300ms ease;
}
.heading-secondary:hover::after {
  width: 100%;
}
.about__info {
  margin-bottom: 3rem;
}
.about__contact {
  color: #007d9e;
}
.about__contact-span {
  margin-left: 1rem;
  color: #fff;
  display: inline-block;
}
.about__image {
  width: 100%;
}
.skills {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}
.skills__icon-css {
  color: #264de4;
  font-size: 7rem;
}
.skills__icon-html {
  color: #fd7e14;
  font-size: 7rem;
}
.skills__icon-js {
  color: #f3cf01;
  font-size: 7rem;
}
.skills__icon-php {
  color: #474a8a;
  font-size: 7rem;
}
.skills__icon-sql {
  color: #00758f;
  font-size: 7rem;
}
.skills__text {
  font-weight: 700;
}

@media only screen and (min-width: 992px) {
  #about,
  #contact,
  #portfolio,
  #skills {
    padding-left: 8.5rem;
  }
  .about__container,
  .portfolio__container,
  .contact__container,
  .skills__container {
    padding: 10rem 0;
    max-width: 128.5rem;
  }
  .contact__info {
    max-width: 128.5rem;
  }
  .about__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .about__info {
    width: 100%;
    padding-right: 6rem;
    margin-bottom: 0;
  }
  .about__image {
    width: 50%;
  }
  .about__skills {
    width: 100%;
    padding-left: 2rem;
  }
  .skills__icon-css,
  .skills__icon-sql,
  .skills__icon-html,
  .skills__icon-js,
  .skills__icon-php {
    font-size: 7em;
  }
}

/* END OF ABOUT SECTION */

/* PROJECT SECTION */

/* #portfolio {
  background-color: rgb(245, 249, 250);
} */

/* .projects__card {
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  width: 100%;
  padding: 1rem;
  margin: 2rem auto;
  background-color: #2d2d2d;
  position: relative;
  margin-bottom: 5rem;
}
.projects__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #007d9e;
}
.projects__card-modify {
  padding-bottom: 4rem;
} */
.projects__card-new {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
.projects__image {
  width: 100%;
  display: block;
  filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.8));
  order: 1;
}
.projects__text {
  padding: 0 1rem;
  order: 2;
}
.made-with {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.made-with-icon {
  padding: 0.2rem 1.6rem;
  border-radius: 99rem;
  background-color: #2d2d2d;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
.made-with-icon:not(:last-child) {
  margin-right: 1rem;
}
.projects__text h3 {
  font-weight: 700;
}
.projects__links {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
}
.projects__links .btn {
  width: 100%;
}
.projects__links-first {
  margin-bottom: 1rem;
}
/* @media only screen and (min-width: 370px) {
  .projects__card-modify {
    padding-bottom: 5rem;
  }
} */

/* @media only screen and (min-width: 576px) {
  .projects__links {
    flex-direction: row;
  }
  .projects__links-first {
    margin-bottom: 0;
    margin-right: 1rem;
  }
  .projects__links .btn {
    width: 50%;
  }
} */

/* @media only screen and (min-width: 786px) {
  .projects {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .projects__card {
    padding: 2rem;
    width: calc(50% - 1.5rem);
    margin-bottom: 0;
    margin-top: 0;
  }
  .projects__links .btn {
    width: 16rem;
  }
} */

@media screen and (min-width: 992px) {
  .projects__card-new {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }
  .projects__card-new h3 {
    font-size: 3rem;
  }
  .projects__card-new img {
    width: 40%;
  }
  .projects__card-new > div {
    width: 55%;
  }
  .projects__image.order-2 {
    order: 2;
  }
}

/* END OF PROJECT SECTION */

/* CONTACT SECTION */
.contact__container {
  background-image: url("../images/map.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.form__name {
  display: flex;
  flex-direction: column;
}
.form__input-container {
  width: 100%;
  position: relative;
}
.form__textarea-container {
  height: 8rem;
}
.form__input {
  width: 100%;
  border-width: 0 0 1px 0;
  outline: none;
  font-size: 1.6rem;
  background-color: transparent;
  color: #fff;
  height: 8rem;
}

.form__input-textarea {
  padding-top: 1.5rem;
  padding-bottom: 0.7rem;
}
.form__input.active {
  height: 8rem;
}
.form__input.active + .form__label {
  top: 0;
}
.form__label {
  width: 100%;
  position: absolute;
  top: 60%;
  left: 0;
  transform: translate(0, -50%);
  transition: top 0.2s linear;
  font-size: 1.6rem;
  color: #4d5252;
}
.registration-form__error {
  display: block;
  font-size: 80%;
  color: #dc3545;
}
.line {
  width: 90%;
  margin: 2rem auto 0;
  max-width: 128.5rem;
  height: 2px;
  background-color: #2d2d2d;
}

.contact__info-icons a {
  color: #fff;
}

.contact__info-data {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 786px) {
  .form__name {
    flex-direction: row;
  }
  /* .form__input-container {
    height: 8rem;
  } */
  .form__input {
    font-size: 1.8rem;
  }
  /* .form__input.active {
    height: 8rem;
  } */
  .form__label {
    font-size: 1.8rem;
  }
  .contact__form {
    width: 100%;
  }
  .contact__info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact__info-data {
    margin-bottom: 0;
  }
}

/* END OF CONTACT SECTION */

/* FOOTER */

footer {
  background-color: #161e24;
  color: #fff;
  position: relative;
  z-index: 3;
}

.footer__container {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
}

/* buttons display flex */

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 500px) {
  .button-container {
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (min-width: 786px) {
  .mr-m-l {
    margin-right: 4rem;
  }
  .mb-m-0 {
    margin-bottom: 0;
  }
  .mb-m-m {
    margin-bottom: 3rem;
  }
  .flex-m-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  .button-container {
    justify-content: flex-start;
  }
}
/* LOADER ON MESSAGE SENDING */
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -3;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -3;
  background-color: var(--background-color);
  text-align: left;
  max-width: 54rem;
  width: 95%;
}
.modal-overlay.active {
  z-index: 10;
  display: block;
}
.active .modal {
  z-index: 20;
}

.LoaderBalls {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.LoaderBalls__item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #007d9e;
}
.LoaderBalls__item:nth-child(1) {
  animation: bouncing 0.4s alternate infinite
    cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.LoaderBalls__item:nth-child(2) {
  animation: bouncing 0.4s 0.1s alternate infinite
    cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}
.LoaderBalls__item:nth-child(3) {
  animation: bouncing 0.4s 0.2s alternate infinite
    cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}

@keyframes bouncing {
  0% {
    transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
  }
  100% {
    transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
  }
}

.message {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 7rem;
  left: 50%;
  transform: translate(-50%);
  pointer-events: none;
  border-radius: 0.5rem;
  text-align: center;
}
.message.success {
  opacity: 1;
  visibility: visible;
  padding: 1rem 3rem;
  color: #fff;
  background-color: #4bb543;
  z-index: 10;
}

/* utility classes */
.relative {
  position: relative;
}
.weight-400 {
  font-weight: 400;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}
.btn {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.8rem 1.6rem;
  width: 16rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.btn-large {
  width: 20rem;
}
.btn-outline-secondary {
  color: #007d9e;
  background-color: #fff;
  border-color: #007d9e;
}
.btn-primary {
  background-color: #af2ba1;
  border-color: #af2ba1;
  color: #fff;
}
.btn-outline-primary {
  border-color: #af2ba1;
  background-color: #fff;
  color: #af2ba1;
}
.btn.btn-outline-secondary:hover {
  background-color: #007d9e;
  border-color: #007d9e;
  color: #fff;
  /* color: #fff; */
}
.btn.btn-primary:hover {
  color: #af2ba1;
  border-color: #af2ba1;
  background-color: #fff;
}
.btn.btn-outline-primary:hover {
  border-color: #af2ba1;
  background-color: #af2ba1;
  color: #fff;
}
.btn {
  position: relative;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  box-shadow: 0 0.5rem 3rem -0.4rem rgba(0, 0, 0, 0.3);
  transition: opacity 0.4s ease;
}

button.btn {
  padding: 1.2rem 0;
  font-weight: 700;
}
.btn:hover::after {
  opacity: 1;
}
.mb-xl {
  margin-bottom: 6rem;
}
.mb-l {
  margin-bottom: 4rem;
}
.mb-m {
  margin-bottom: 3rem;
}
.mb-xl {
  margin-bottom: 8rem;
}
.mb-xs {
  margin-bottom: 1rem;
}
.mb-s {
  margin-bottom: 2rem;
}
.mb-xs {
  margin-bottom: 1rem;
}
.mr-s {
  margin-right: 2rem;
}
.mr-m {
  margin-right: 3rem;
}
.mr-xs {
  margin-right: 0.5rem;
}
.ml-xs {
  margin-left: 0.5rem;
}
.pl-m {
  padding-left: 3rem;
}
@media only screen and (min-width: 500px) {
  .mr-s-s {
    margin-right: 2rem;
  }
  .mb-s-0 {
    margin-bottom: 0;
  }
}

.w-100 {
  width: 100%;
}
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.justify-start {
  justify-content: flex-start;
}
.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
